<div class="cards-wrapper" *ngIf="user">
    <mat-card class="details-card">
        <mat-card-header>
            <mat-card-title>User Details</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let property of userProps">
                    <mat-icon mat-list-icon>{{userPropsIcons[property]}}</mat-icon>
                    <h3 mat-line>{{property | uppercase }}</h3>
                    <p mat-line>{{user[property]}}</p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="showUpdateForm=!showUpdateForm">Change</button>
            <button mat-button (click)="openDeleteDialog()">Delete</button>
        </mat-card-actions>
    </mat-card>
    <app-details *ngIf="showUpdateForm" [(user)]="user"></app-details>
</div>